/* ================================
 Animations For Sections
================================ */

/* Main Section */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInZoom {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.main-section .sub-name,
.main-section .main-name {
  animation: fadeInUp 2s ease-in-out;
}

.main-section .animate-button {
  animation: fadeInLeft 2s ease-in-out;
}

.main-section img {
  animation: fadeInZoom 2s ease-in-out;
}

.fadein {
  opacity: 0;
  transition: all 2.5s;
  transform: translate(0, 100px);
}
.fadein:nth-child(12) {
  transform: translateX(200px);
  transition: transform 1.5s;
}
.fadein.visible {
  opacity: 1;
  transform: translateX(0) translateY(0);
}

/* ================================
   Animations For My Name
  ================================ */
.main-section {
  animation: bg 5s linear infinite;
}
.dropping-texts {
  display: inline-block;
  width: 180px;
  text-align: left;
  height: 36px;
  vertical-align: -2px;
}

.dropping-texts > div {
  font-family: "Lora", serif;
  font-size: 60px;
  font-weight: 600;
  font-style: normal;
  opacity: 0;
  margin-left: -30px;
  position: absolute;
  /* box-shadow: 0px 60px 25px -20px rgba(0, 0, 0, 0.5); */
}

.dropping-texts > div:nth-child(1) {
  animation: roll 5s linear infinite 0s;
}
.dropping-texts > div:nth-child(2) {
  animation: roll 5s linear infinite 1s;
}
.dropping-texts > div:nth-child(3) {
  animation: roll2 5s linear infinite 2s;
}

@keyframes roll {
  0% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity: 1;
    transform: rotate(0deg);
  }
  5% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
  }
  20% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    transform: rotate(0deg);
  }
  27% {
    font-size: 0px;
    opacity: 0.5;
    margin-left: 20px;
    margin-top: 100px;
  }
  100% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(15deg);
  }
}

@keyframes roll2 {
  0% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity: 1;
    transform: rotate(0deg);
  }
  5% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
  }
  30% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    transform: rotate(0deg);
  }
  37% {
    font-size: 1500px;
    opacity: 0;
    margin-left: -1000px;
    margin-top: -800px;
  }
  100% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(15deg);
  }
}
@keyframes bg {
  0% {
    background: #bdd7cb;
  }
  3% {
    background: #cbbdd7;
  }
  20% {
    background: #cbbdd7;
  }
  23% {
    background: #d6d7bd;
  }
  40% {
    background: #d6d7bd;
  }
  43% {
    background: #d7bebd;
  }
  60% {
    background: #d7bebd;
  }
  63% {
    background: #d7cbbd;
  }
  80% {
    background: #d7cbbd;
  }
  83% {
    background: #d7cbbd;
  }
  100% {
    background: #d7cbbd;
  }
}

/* ================================
Animation for screens smaller than md 
================================ */
@media (max-width: 767.98px) {
  .dropping-texts > div:nth-child(3) {
    animation: roll2 5s linear infinite 2s;
  }
  @keyframes roll2 {
    0% {
      font-size: 0px;
      opacity: 0;
      margin-left: -30px;
      margin-top: 0px;
      transform: rotate(-25deg);
    }
    3% {
      opacity: 1;
      transform: rotate(0deg);
    }
    5% {
      font-size: inherit;
      opacity: 1;
      margin-left: 0px;
      margin-top: 0px;
    }
    20% {
      font-size: inherit;
      opacity: 1;
      margin-left: 0px;
      margin-top: 0px;
      transform: rotate(0deg);
    }
    27% {
      font-size: 0px;
      opacity: 0.5;
      margin-left: 20px;
      margin-top: 100px;
    }
    100% {
      font-size: 0px;
      opacity: 0;
      margin-left: -30px;
      margin-top: 0px;
      transform: rotate(15deg);
    }
  }
}
